Repository 33mestre/java_base, changes with the labels that .github/labeler.yaml gives for each.
All labels: bug, documentation

.github/labeler.yaml:

# ---------------------------------
#    _____ __         __                    ______                          _
#   / ___// /_  ___  / /________  ____     / ____/__  ______________ ______(_)
#   \__ \/ __ \/ _ \/ / ___/ __ \/ __ \   / /_  / _ \/ ___/ ___/ __ `/ ___/ /
#  ___/ / / / /  __/ (__  ) /_/ / / / /  / __/ /  __/ /  / /  / /_/ / /  / /
# /____/_/ /_/\___/_/____/\____/_/ /_/  /_/    \___/_/  /_/   \__,_/_/  /_/
# ---------------------------------
# Currency Conversion API
# GitHub Labeler Configuration File
# ---------------------------------
# This file is used to automate the application of labels
# to pull requests and issues in the GitHub repository based on the files that
# have been modified.
# ---------------------------------
# - Defines the labels "bug" and "documentation".
# - Applies the "bug" label to changes in "src/**/*".
# - Applies the "documentation" label to changes in "docs/**/*".
# ---------------------------------

bug:
  - "src/**/*"
documentation:
  - "docs/**/*"

AUTO_COMMIT: Update .env
  .env
Labels: none

diagrama de classes
  sys/uml/md-diagrama-classe.md
Labels: none

Render PlantUML files
  sys/uml/md-diagrama-classe.svg
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

ajuste future md - agora temos apache camel
  FUTURE.md
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

Refactor and improve Camel integration with better error handling, logging, and documentation
  pom.xml
  src/main/java/com/shelson/application/processors/ExchangeRateProcessor.java
  src/main/java/com/shelson/application/routes/CurrencyConversionRoute.java
  src/main/java/com/shelson/application/service/CurrencyConversionService.java
  src/main/java/com/shelson/infrastructure/exception/ResourceNotFoundException.java
  src/test/java/com/shelson/application/processors/ExchangeRateProcessorTest.java
  src/test/java/com/shelson/application/routes/CurrencyConversionRouteTest.java
  src/test/java/com/shelson/application/service/CurrencyConversionServiceTest.java
Labels: bug

AUTO_COMMIT: Bulk update of documentation
  docs/site/index.md
  docs/site/java_base/com.shelson.application.processors/-exchange-rate-processor/-exchange-rate-processor.md
  docs/site/java_base/com.shelson.application.processors/-exchange-rate-processor/index.md
  docs/site/java_base/com.shelson.application.processors/-exchange-rate-processor/process.md
  docs/site/java_base/com.shelson.application.processors/index.md
  docs/site/java_base/com.shelson.application.routes/-currency-conversion-route/configure.md
  docs/site/java_base/com.shelson.application.routes/-currency-conversion-route/index.md
  docs/site/java_base/com.shelson.infrastructure.exception/-resource-not-found-exception/-resource-not-found-exception.md
  docs/site/java_base/com.shelson.infrastructure.exception/-resource-not-found-exception/index.md
  docs/site/java_base/com.shelson.infrastructure.exception/index.md
  docs/site/java_base/package-list
Labels: documentation

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update DIRECTORY.md
  DIRECTORY.md
Labels: none

refatoracao global, doucmentacao javadoc, e melhoria significativa da exibicao e tratamento de erros http - com mensagens de erro descritivas, com a causa exata do erro- e nao mais generico 400 por ex
  SECURITY.md
  src/main/java/com/shelson/ShelsonApplication.java
  src/main/java/com/shelson/application/controller/CurrencyConversionController.java
  src/main/java/com/shelson/application/controller/HomeController.java
  src/main/java/com/shelson/application/controller/SwaggerRedirectController.java
  src/main/java/com/shelson/application/dto/CurrencyConversionDTO.java
  src/main/java/com/shelson/application/processors/ExchangeRateProcessor.java
  src/main/java/com/shelson/application/routes/CurrencyConversionRoute.java
  src/main/java/com/shelson/application/routes/package-info.java
  src/main/java/com/shelson/application/service/CurrencyConversionService.java
  src/main/java/com/shelson/application/service/CurrencyConversionServiceApiResponse.java
  src/main/java/com/shelson/config/CamelConfig.java
  src/main/java/com/shelson/config/MethodValidationConfig.java
  src/main/java/com/shelson/config/ProducerConfig.java
  src/main/java/com/shelson/config/SharedConfig.java
  src/main/java/com/shelson/console/CurrencyConverterConsoleApp.java
  src/main/java/com/shelson/domain/model/Currency.java
  src/main/java/com/shelson/domain/model/CurrencyConversion.java
  src/main/java/com/shelson/domain/repository/CurrencyConversionRepository.java
  src/main/java/com/shelson/infrastructure/config/RestTemplateConfig.java
  src/main/java/com/shelson/infrastructure/config/SecurityConfig.java
  src/main/java/com/shelson/infrastructure/config/SwaggerConfig.java
  src/main/java/com/shelson/infrastructure/config/WebConfig.java
  src/main/java/com/shelson/infrastructure/exception/BusinessException.java
  src/main/java/com/shelson/infrastructure/exception/ResourceNotFoundException.java
  src/main/java/com/shelson/infrastructure/exception/RestExceptionHandler.java
  src/main/java/com/shelson/logging/CustomRequestLoggingFilter.java
  src/main/java/com/shelson/logging/HttpLoggingFilter.java
  src/main/java/com/shelson/logging/LoggingInterceptor.java
  src/main/java/com/shelson/swing/CurrencyConverterSwingApp.java
  src/main/java/com/shelson/swing/package-info.java
  src/main/resources/application.properties
  src/test/java/com/shelson/application/controller/CurrencyConversionControllerTest.java
  src/test/java/com/shelson/application/processors/ExchangeRateProcessorTest.java
  src/test/java/com/shelson/application/routes/CurrencyConversionRouteTest.java
  src/test/java/com/shelson/application/service/CurrencyConversionServiceTest.java
Labels: bug

AUTO_COMMIT: Bulk update of documentation
  docs/site/java_base/com.shelson.application.controller/-currency-conversion-controller/index.md
  docs/site/java_base/com.shelson.application.controller/-home-controller/index.md
  docs/site/java_base/com.shelson.application.controller/-swagger-redirect-controller/index.md
  docs/site/java_base/com.shelson.application.dto/-currency-conversion-d-t-o/index.md
  docs/site/java_base/com.shelson.application.processors/-exchange-rate-processor/index.md
  docs/site/java_base/com.shelson.application.routes/-currency-conversion-route/index.md
  docs/site/java_base/com.shelson.application.routes/index.md
  docs/site/java_base/com.shelson.application.service/-currency-conversion-service-api-response/index.md
  docs/site/java_base/com.shelson.application.service/-currency-conversion-service/index.md
  docs/site/java_base/com.shelson.application.service/index.md
  docs/site/java_base/com.shelson.config/-camel-config/index.md
  docs/site/java_base/com.shelson.config/-method-validation-config/index.md
  docs/site/java_base/com.shelson.config/-producer-config/index.md
  docs/site/java_base/com.shelson.config/-shared-config/index.md
  docs/site/java_base/com.shelson.console/-currency-converter-console-app/index.md
  docs/site/java_base/com.shelson.domain.model/-currency-conversion/index.md
  docs/site/java_base/com.shelson.domain.model/-currency/index.md
  docs/site/java_base/com.shelson.domain.repository/-currency-conversion-repository/index.md
  docs/site/java_base/com.shelson.infrastructure.config/-rest-template-config/index.md
  docs/site/java_base/com.shelson.infrastructure.config/-security-config/index.md
  docs/site/java_base/com.shelson.infrastructure.config/-swagger-config/index.md
  docs/site/java_base/com.shelson.infrastructure.config/-web-config/index.md
  docs/site/java_base/com.shelson.infrastructure.exception/-business-exception/index.md
  docs/site/java_base/com.shelson.infrastructure.exception/-resource-not-found-exception/index.md
  docs/site/java_base/com.shelson.infrastructure.exception/-rest-exception-handler/-rest-exception-handler.md
  docs/site/java_base/com.shelson.infrastructure.exception/-rest-exception-handler/handle-all-exceptions.md
  docs/site/java_base/com.shelson.infrastructure.exception/-rest-exception-handler/handle-business-exception.md
  docs/site/java_base/com.shelson.infrastructure.exception/-rest-exception-handler/handle-illegal-argument-exception.md
  docs/site/java_base/com.shelson.infrastructure.exception/-rest-exception-handler/handle-method-argument-type-mismatch-exception.md
  docs/site/java_base/com.shelson.infrastructure.exception/-rest-exception-handler/handle-resource-not-found-exception.md
  docs/site/java_base/com.shelson.infrastructure.exception/-rest-exception-handler/handle-validation-exceptions.md
  docs/site/java_base/com.shelson.infrastructure.exception/-rest-exception-handler/index.md
  docs/site/java_base/com.shelson.infrastructure.exception/index.md
  docs/site/java_base/com.shelson.logging/-custom-request-logging-filter/index.md
  docs/site/java_base/com.shelson.logging/-http-logging-filter/index.md
  docs/site/java_base/com.shelson.logging/-logging-interceptor/index.md
  docs/site/java_base/com.shelson/-shelson-application/index.md
  docs/site/java_base/package-list
Labels: documentation

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update DIRECTORY.md
  DIRECTORY.md
Labels: none

i18 en como padrao
  project.properties
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update DIRECTORY.md
  DIRECTORY.md
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

MD CV
  sys/SHELSON_FERRARI_CV_en.md
  sys/SHELSON_FERRARI_CV_es.md
  sys/SHELSON_FERRARI_CV_pt_br copy.md
  sys/pdf/SHELSON_FERRARI_CV_en.pdf
  sys/pdf/SHELSON_FERRARI_CV_es.pdf
  sys/pdf/SHELSON_FERRARI_CV_pt_br.pdf
  sys/style.css
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

MD CV
  sys/SHELSON_FERRARI_CV_es.md
  sys/SHELSON_FERRARI_CV_pt_br.md
  sys/pdf/SHELSON_FERRARI_CV_en.pdf
  sys/pdf/SHELSON_FERRARI_CV_es.pdf
  sys/pdf/SHELSON_FERRARI_CV_pt_br.pdf
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

MD CV
  sys/FINAL4.html
  sys/SHELSON_FERRARI_CV_en.md
  sys/SHELSON_FERRARI_CV_es.md
  sys/SHELSON_FERRARI_CV_pt_br.md
  sys/pdf/SHELSON_FERRARI_CV_en.pdf
  sys/pdf/SHELSON_FERRARI_CV_es.pdf
  sys/pdf/SHELSON_FERRARI_CV_pt_br.pdf
  sys/style.css
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

auto generate cv from markdown
  .github/workflows/cv.yml
  changelog-docker copy.yml
  changelog-docker.yml
  cv.yml
  i18n/script_cv_en.properties
  i18n/script_cv_pt_br.properties
  i18n/script_index_en.properties
  i18n/script_index_pt_br.properties
  index.bat
  index.sh
  scripts/cv.bat
  scripts/cv.sh
  sys/SHELSON_FERRARI_CV_en copy.md
  sys/SHELSON_FERRARI_CV_pt_br copy.md
  sys/avatar.jpeg
  sys/avatar.png
  sys/avatar_bs.png
  sys/callCv.sh
  sys/cv/SHELSON_FERRARI_CV_en.md
  sys/cv/SHELSON_FERRARI_CV_es.md
  sys/cv/SHELSON_FERRARI_CV_pt_br.md
  sys/makepdf.groovy
  sys/markdown_to_pdf copy 2.py
  sys/markdown_to_pdf copy 3.py
  sys/markdown_to_pdf copy 4.py
  sys/markdown_to_pdf copy 5.py
  sys/markdown_to_pdf copy.py
  sys/markdown_to_pdf.py
  sys/pdf/SHELSON_FERRARI_CV_en.pdf
  sys/pdf/SHELSON_FERRARI_CV_es.pdf
  sys/pdf/SHELSON_FERRARI_CV_pt_br.pdf
  sys/style.css
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

ajuste ci cd para gerar pdf cv shelson
  .github/workflows/cv.yml
  .github/workflows/main.yml
Labels: none

ajuste ci cd para gerar pdf cv shelson
  .github/workflows/main.yml
  sys/markdown_to_pdf.py
Labels: none
