Repository 33mestre/java_base, changes with the labels that .github/labeler.yaml gives for each.
All labels: bug, documentation

force ci cd
  README.md
Labels: none

criacao .env
  .env
  .gitignore
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

force ci cd - pom remove .env fase
  pom.xml
Labels: none

force ci cd - pom add .env fase
  pom.xml
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

ajuste nome do projeto
  .github/CODEOWNERS
  ARCHITECTURE.md
  AUTHORS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DIRECTORY.md
  FUTURE.md
  README.md
  openapi/swagger.json
  openapi/swagger.yaml
  pom.xml
  sys/directory.groovy
  sys/generateChangelogAndProjectVersion.groovy
Labels: none

add normal path
  .github/CODEOWNERS
  ARCHITECTURE.md
  AUTHORS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DIRECTORY.md
  FUTURE.md
  README.md
  openapi/swagger.json
  openapi/swagger.yaml
  pom.xml
  sys/directory.groovy
  sys/generateChangelogAndProjectVersion.groovy
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

script python generateChangelogAndProjectVersion.py
  sys/generateChangelogAndProjectVersion.py
Labels: none

refatoracao principal
  ARCHITECTURE.md
  DIRECTORY.md
  README.md
  docs/site/index.md
  docs/site/sognisport/com.sognisport.application.controller/index.md
  docs/site/sognisport/com.sognisport.application.dto/index.md
  docs/site/sognisport/com.sognisport.application.service/index.md
  docs/site/sognisport/com.sognisport.domain.model/index.md
  docs/site/sognisport/com.sognisport.domain.repository/index.md
  docs/site/sognisport/com.sognisport.domain.service/index.md
  docs/site/sognisport/com.sognisport.infrastructure.config/index.md
  docs/site/sognisport/com.sognisport.infrastructure.exception/index.md
  docs/site/sognisport/com.sognisport.logging/index.md
  docs/site/sognisport/com.sognisport/-sognisport-application/index.md
  docs/site/sognisport/com.sognisport/index.md
  src/main/java/com/sognisport/SognisportApplication.java
  src/main/java/com/sognisport/application/controller/package-info.java
  src/main/java/com/sognisport/application/dto/package-info.java
  src/main/java/com/sognisport/application/service/package-info.java
  src/main/java/com/sognisport/domain/model/package-info.java
  src/main/java/com/sognisport/domain/repository/package-info.java
  src/main/java/com/sognisport/domain/service/package-info.java
  src/main/java/com/sognisport/infrastructure/config/package-info.java
  src/main/java/com/sognisport/infrastructure/exception/package-info.java
  src/main/java/com/sognisport/logging/package-info.java
  src/main/java/com/sognisport/swing/package-info.java
  src/main/resources/application.properties
Labels: bug, documentation

refatoracao script ci cd
  .github/workflows/main.yml
Labels: none

script groovy sys/generateChangelogAndProjectVersion.groovy refatoracao
  sys/generateChangelogAndProjectVersion.groovy
Labels: none

i18n folder ans files initial
  i18n/en.properties
  i18n/pt_br.properties
Labels: none

pom.xml ajustado
  pom.xml
Labels: none

gitignore
  .gitignore
Labels: none

project properties
  project.properties
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

ci cd apaga a pasta docs/site antes de gerar a documentacao
  .github/workflows/main.yml
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

refatoracao script generateChangelogAndProjectVersion.groovy, remocao so script python q fazia a mesma coisa e insercao de i18n pt_br
  i18n/pt_br.properties
  sys/generateChangelogAndProjectVersion.groovy
  sys/generateChangelogAndProjectVersion.py
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

Render PlantUML files
  sys/uml/md-diagrama-classe.svg
Labels: none

refatoracao de nome de pacote do projeto para com.shelson
  .github/CODEOWNERS
  ARCHITECTURE.md
  AUTHORS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DIRECTORY.md
  FUTURE.md
  README.md
  console-app-docker.yml
  db-docker.yml
  docker-compose.yml
  docs/site/index.md
  docs/site/java_base/com.sognisport/-sognisport-application/-application-shutdown-hook/-application-shutdown-hook.md
  docs/site/java_base/com.sognisport/-sognisport-application/-application-shutdown-hook/index.md
  docs/site/java_base/com.sognisport/-sognisport-application/-application-shutdown-hook/on-shutdown.md
  docs/site/java_base/com.sognisport/-sognisport-application/-sognisport-application.md
  docs/site/java_base/com.sognisport/-sognisport-application/index.md
  docs/site/java_base/com.sognisport/-sognisport-application/main.md
  docs/site/java_base/com.sognisport/index.md
  docs/site/java_base/package-list
  openapi/swagger.json
  openapi/swagger.yaml
  pom.xml
  scripts/changelog.bat
  scripts/changelog.sh
  scripts/console.bat
  scripts/console.sh
  scripts/db.bat
  scripts/db.sh
  scripts/directory.bat
  scripts/directory.sh
  scripts/server.bat
  scripts/server.sh
  src/main/java/com/shelson/SognisportApplication.java
  src/main/java/com/shelson/console/CurrencyConverterConsoleApp.java
  src/main/resources/application.properties
  sys/callJavaFromDocker.sh
  sys/directory.groovy
Labels: bug, documentation

refatoracao de nome de pacote do projeto para com.shelson
  src/main/java/com/shelson/ShelsonApplication.java
Labels: bug

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update DIRECTORY.md
  DIRECTORY.md
Labels: none

ajuste para remoca pasta docs/site antes do mvn dokka
  .github/workflows/main.yml
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

ajuste readme
  README.md
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

.github/labeler.yaml:

# ---------------------------------
#    _____ __         __                    ______                          _
#   / ___// /_  ___  / /________  ____     / ____/__  ______________ ______(_)
#   \__ \/ __ \/ _ \/ / ___/ __ \/ __ \   / /_  / _ \/ ___/ ___/ __ `/ ___/ /
#  ___/ / / / /  __/ (__  ) /_/ / / / /  / __/ /  __/ /  / /  / /_/ / /  / /
# /____/_/ /_/\___/_/____/\____/_/ /_/  /_/    \___/_/  /_/   \__,_/_/  /_/
# ---------------------------------
# Currency Conversion API
# GitHub Labeler Configuration File
# ---------------------------------
# This file is used to automate the application of labels
# to pull requests and issues in the GitHub repository based on the files that
# have been modified.
# ---------------------------------
# - Defines the labels "bug" and "documentation".
# - Applies the "bug" label to changes in "src/**/*".
# - Applies the "documentation" label to changes in "docs/**/*".
# ---------------------------------

bug:
  - "src/**/*"
documentation:
  - "docs/**/*"
