Repository 33mestre/java_base, changes with the labels that .github/labeler.yaml gives for each.
All labels: bug, documentation

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update DIRECTORY.md
  DIRECTORY.md
Labels: none

future md
  FUTURE.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

future md
  FUTURE.md
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update DIRECTORY.md
  DIRECTORY.md
Labels: none

geracao de directory.md com menu wiki e ajustes dos menus
  ARCHITECTURE.md
  AUTHORS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  FUTURE.md
  SECURITY.md
  sys/directory.groovy
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update DIRECTORY.md
  DIRECTORY.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

readme ajustes
  README.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

ajuste da versao no security md
  SECURITY.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add comprehensive .gitignore with header and detailed comments
  .gitignore
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

pre camel
  ARCHITECTURE.md
  AUTHORS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DIRECTORY.md
  FUTURE.md
  README.md
  SECURITY.md
  pom.xml
  src/main/java/com/shelson/application/controller/CurrencyConversionController.java
  src/main/java/com/shelson/application/dto/CurrencyConversionDTO.java
  src/main/java/com/shelson/application/service/CurrencyConversionService.java
  src/main/java/com/shelson/application/service/CurrencyConversionServiceApiResponse.java
  src/main/java/com/shelson/config/CamelConfig.java
  src/main/java/com/shelson/domain/model/CurrencyConversion.java
  src/main/java/com/sognisport/infrastructure/processor/CurrencyConversionProcessor.java
  src/main/java/com/sognisport/infrastructure/route/CurrencyConversionRoute.java
  src/main/resources/application.properties
  src/test/java/com/shelson/application/service/CurrencyConversionServiceTest.java
  sys/directory.groovy
Labels: bug

pre camel
  src/main/java/com/shelson/application/controller/CurrencyConversionController.java
  src/main/java/com/shelson/application/dto/CurrencyConversionDTO.java
  src/main/java/com/shelson/application/service/CurrencyConversionService.java
  src/main/java/com/shelson/domain/model/CurrencyConversion.java
  src/test/java/com/shelson/application/service/CurrencyConversionServiceTest.java
  sys/directory.groovy
Labels: bug

AUTO_COMMIT: Bulk update of documentation
  docs/site/index.md
  docs/site/java_base/com.shelson.application.service/-currency-conversion-service-api-response/-currency-conversion-service-api-response.md
  docs/site/java_base/com.shelson.application.service/-currency-conversion-service-api-response/index.md
  docs/site/java_base/com.shelson.application.service/-currency-conversion-service-api-response/rates.md
  docs/site/java_base/com.shelson.application.service/index.md
  docs/site/java_base/com.shelson.config/-camel-config/-camel-config.md
  docs/site/java_base/com.shelson.config/-camel-config/camel-context.md
  docs/site/java_base/com.shelson.config/-camel-config/index.md
  docs/site/java_base/com.shelson.config/-camel-config/producer-template.md
  docs/site/java_base/com.shelson.config/-camel-config/route-builder.md
  docs/site/java_base/com.shelson.config/index.md
  docs/site/java_base/com.sognisport.infrastructure.processor/-currency-conversion-processor/-currency-conversion-processor.md
  docs/site/java_base/com.sognisport.infrastructure.processor/-currency-conversion-processor/index.md
  docs/site/java_base/com.sognisport.infrastructure.processor/-currency-conversion-processor/process.md
  docs/site/java_base/com.sognisport.infrastructure.processor/index.md
  docs/site/java_base/com.sognisport.infrastructure.route/-currency-conversion-route/-currency-conversion-route.md
  docs/site/java_base/com.sognisport.infrastructure.route/-currency-conversion-route/configure.md
  docs/site/java_base/com.sognisport.infrastructure.route/-currency-conversion-route/index.md
  docs/site/java_base/com.sognisport.infrastructure.route/index.md
  docs/site/java_base/package-list
Labels: documentation

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update DIRECTORY.md
  DIRECTORY.md
Labels: none

pre camel
  src/main/java/com/shelson/application/dto/CurrencyConversionDTO.java
  src/main/java/com/sognisport/infrastructure/processor/CurrencyConversionProcessor.java
  src/main/java/com/sognisport/infrastructure/route/CurrencyConversionRoute.java
Labels: bug

AUTO_COMMIT: Bulk update of documentation
  docs/site/index.md
  docs/site/java_base/com.sognisport.infrastructure.processor/-currency-conversion-processor/-currency-conversion-processor.md
  docs/site/java_base/com.sognisport.infrastructure.processor/-currency-conversion-processor/index.md
  docs/site/java_base/com.sognisport.infrastructure.processor/-currency-conversion-processor/process.md
  docs/site/java_base/com.sognisport.infrastructure.processor/index.md
  docs/site/java_base/com.sognisport.infrastructure.route/-currency-conversion-route/-currency-conversion-route.md
  docs/site/java_base/com.sognisport.infrastructure.route/-currency-conversion-route/configure.md
  docs/site/java_base/com.sognisport.infrastructure.route/-currency-conversion-route/index.md
  docs/site/java_base/com.sognisport.infrastructure.route/index.md
  docs/site/java_base/package-list
Labels: documentation

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update DIRECTORY.md
  DIRECTORY.md
Labels: none

uso do apache camel, ajuste dos logs, novos testes e refatoracao de todo o sistema
  pom.xml
  src/main/java/com/shelson/application/controller/CurrencyConversionController.java
  src/main/java/com/shelson/application/dto/CurrencyConversionDTO.java
  src/main/java/com/shelson/application/routes/CurrencyConversionRoute.java
  src/main/java/com/shelson/application/routes/package-info.java
  src/main/java/com/shelson/application/service/CurrencyConversionService.java
  src/main/java/com/shelson/application/service/CurrencyConversionServiceApiResponse.java
  src/main/java/com/shelson/config/CamelConfig.java
  src/main/java/com/shelson/config/MethodValidationConfig.java
  src/main/java/com/shelson/config/ProducerConfig.java
  src/main/java/com/shelson/config/SharedConfig.java
  src/main/java/com/shelson/config/package-info.java
  src/main/java/com/shelson/domain/model/CurrencyConversion.java
  src/main/java/com/shelson/domain/service/CurrencyConversionDomainService.java
  src/main/java/com/shelson/domain/service/package-info.java
  src/main/java/com/shelson/infrastructure/exception/BusinessException.java
  src/main/java/com/shelson/infrastructure/exception/ResourceNotFoundException.java
  src/main/java/com/shelson/logging/CustomRequestLoggingFilter.java
  src/main/resources/META-INF/additional-spring-configuration-metadata.json
  src/main/resources/application.properties
  src/test/java/com/shelson/application/controller/CurrencyConversionControllerTest.java
  src/test/java/com/shelson/application/service/CurrencyConversionServiceTest.java
Labels: bug

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update DIRECTORY.md
  DIRECTORY.md
Labels: none

javadoc e pequenos ajustes de formatacao
  src/main/java/com/shelson/application/dto/CurrencyConversionDTO.java
  src/main/java/com/shelson/application/routes/CurrencyConversionRoute.java
  src/main/java/com/shelson/application/service/CurrencyConversionService.java
  src/main/java/com/shelson/application/service/CurrencyConversionServiceApiResponse.java
  src/main/java/com/shelson/config/CamelConfig.java
  src/main/java/com/shelson/config/ProducerConfig.java
  src/main/java/com/shelson/config/SharedConfig.java
  src/main/resources/application.properties
Labels: bug

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

.github/labeler.yaml:

# ---------------------------------
#    _____ __         __                    ______                          _
#   / ___// /_  ___  / /________  ____     / ____/__  ______________ ______(_)
#   \__ \/ __ \/ _ \/ / ___/ __ \/ __ \   / /_  / _ \/ ___/ ___/ __ `/ ___/ /
#  ___/ / / / /  __/ (__  ) /_/ / / / /  / __/ /  __/ /  / /  / /_/ / /  / /
# /____/_/ /_/\___/_/____/\____/_/ /_/  /_/    \___/_/  /_/   \__,_/_/  /_/
# ---------------------------------
# Currency Conversion API
# GitHub Labeler Configuration File
# ---------------------------------
# This file is used to automate the application of labels
# to pull requests and issues in the GitHub repository based on the files that
# have been modified.
# ---------------------------------
# - Defines the labels "bug" and "documentation".
# - Applies the "bug" label to changes in "src/**/*".
# - Applies the "documentation" label to changes in "docs/**/*".
# ---------------------------------

bug:
  - "src/**/*"
documentation:
  - "docs/**/*"
