Repository 33mestre/java_base, changes with the labels that .github/labeler.yaml gives for each.
All labels: bug, documentation

.github/labeler.yaml:

# ---------------------------------
#    _____ __         __                    ______                          _
#   / ___// /_  ___  / /________  ____     / ____/__  ______________ ______(_)
#   \__ \/ __ \/ _ \/ / ___/ __ \/ __ \   / /_  / _ \/ ___/ ___/ __ `/ ___/ /
#  ___/ / / / /  __/ (__  ) /_/ / / / /  / __/ /  __/ /  / /  / /_/ / /  / /
# /____/_/ /_/\___/_/____/\____/_/ /_/  /_/    \___/_/  /_/   \__,_/_/  /_/
# ---------------------------------
# Currency Conversion API
# GitHub Labeler Configuration File
# ---------------------------------
# This file is used to automate the application of labels
# to pull requests and issues in the GitHub repository based on the files that
# have been modified.
# ---------------------------------
# - Defines the labels "bug" and "documentation".
# - Applies the "bug" label to changes in "src/**/*".
# - Applies the "documentation" label to changes in "docs/**/*".
# ---------------------------------

bug:
  - "src/**/*"
documentation:
  - "docs/**/*"

AUTO_COMMIT: Update .env
  .env
Labels: none

svg icon
  sys/cv/SHELSON_FERRARI_CV_en.md
  sys/cv/SHELSON_FERRARI_CV_es.md
  sys/cv/SHELSON_FERRARI_CV_pt_br.md
Labels: none

AUTO_COMMIT: Bulk update of documentation
  sys/pdf/SHELSON_FERRARI_CV_en.pdf
  sys/pdf/SHELSON_FERRARI_CV_es.pdf
  sys/pdf/SHELSON_FERRARI_CV_pt_br.pdf
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

css separatorCert
  sys/style.css
Labels: none

AUTO_COMMIT: Bulk update of documentation
  sys/pdf/SHELSON_FERRARI_CV_en.pdf
  sys/pdf/SHELSON_FERRARI_CV_es.pdf
  sys/pdf/SHELSON_FERRARI_CV_pt_br.pdf
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

melhoria doc cv
  sys/cv/SHELSON_FERRARI_CV_en.md
  sys/cv/SHELSON_FERRARI_CV_es.md
  sys/cv/SHELSON_FERRARI_CV_pt_br.md
  sys/style.css
Labels: none

AUTO_COMMIT: Bulk update of documentation
  sys/pdf/SHELSON_FERRARI_CV_en.pdf
  sys/pdf/SHELSON_FERRARI_CV_es.pdf
  sys/pdf/SHELSON_FERRARI_CV_pt_br.pdf
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

melhorias docs md - cv
  sys/cv/SHELSON_FERRARI_CV_en.md
  sys/cv/SHELSON_FERRARI_CV_es.md
  sys/cv/SHELSON_FERRARI_CV_pt_br.md
  sys/style.css
Labels: none

AUTO_COMMIT: Bulk update of documentation
  sys/pdf/SHELSON_FERRARI_CV_en.pdf
  sys/pdf/SHELSON_FERRARI_CV_es.pdf
  sys/pdf/SHELSON_FERRARI_CV_pt_br.pdf
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

melhoria doc md - CV
  sys/cv/SHELSON_FERRARI_CV_en.md
  sys/cv/SHELSON_FERRARI_CV_es.md
  sys/cv/SHELSON_FERRARI_CV_pt_br.md
  sys/style.css
Labels: none

AUTO_COMMIT: Bulk update of documentation
  sys/pdf/SHELSON_FERRARI_CV_en.pdf
  sys/pdf/SHELSON_FERRARI_CV_es.pdf
  sys/pdf/SHELSON_FERRARI_CV_pt_br.pdf
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none

utilizacao de record no dto
  pom.xml
  requirements.txt
  src/main/java/com/shelson/application/dto/CurrencyConversionDTO.java
  src/test/java/com/shelson/application/routes/CurrencyConversionRouteTest.java
  src/test/java/com/shelson/application/service/CurrencyConversionServiceTest.java
  src/test/java/com/shelson/infrastructure/exception/RestExceptionHandler.java
  sys/m2.py
  sys/pdf/SHELSON_FERRARI_CV_en.pdf
  sys/pdf/SHELSON_FERRARI_CV_en_intermediate.pdf
  sys/pdf/additional_page.pdf
Labels: bug

utilizacao de record no dto
  src/test/java/com/shelson/application/routes/CurrencyConversionRouteTest.java
Labels: bug

utilizacao de record no dto
  src/test/java/com/shelson/application/service/CurrencyConversionServiceTest.java
Labels: bug

AUTO_COMMIT: Bulk update of documentation
  sys/pdf/SHELSON_FERRARI_CV_en.pdf
  sys/pdf/SHELSON_FERRARI_CV_es.pdf
  sys/pdf/SHELSON_FERRARI_CV_pt_br.pdf
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Bulk update of documentation
  docs/site/java_base/com.shelson.application.dto/-currency-conversion-d-t-o/-currency-conversion-d-t-o.md
  docs/site/java_base/com.shelson.application.dto/-currency-conversion-d-t-o/amount.md
  docs/site/java_base/com.shelson.application.dto/-currency-conversion-d-t-o/conversion-rate.md
  docs/site/java_base/com.shelson.application.dto/-currency-conversion-d-t-o/converted-amount.md
  docs/site/java_base/com.shelson.application.dto/-currency-conversion-d-t-o/equals.md
  docs/site/java_base/com.shelson.application.dto/-currency-conversion-d-t-o/hash-code.md
  docs/site/java_base/com.shelson.application.dto/-currency-conversion-d-t-o/index.md
  docs/site/java_base/com.shelson.application.dto/-currency-conversion-d-t-o/query-date.md
  docs/site/java_base/com.shelson.application.dto/-currency-conversion-d-t-o/source-currency.md
  docs/site/java_base/com.shelson.application.dto/-currency-conversion-d-t-o/target-currency.md
  docs/site/java_base/com.shelson.application.dto/-currency-conversion-d-t-o/to-string.md
  docs/site/java_base/com.shelson.application.dto/index.md
  docs/site/java_base/package-list
Labels: documentation

AUTO_COMMIT: Update .env
  .env
Labels: none

validacao de valores melhores q zero no service q utiliza cammel - usando business exception e melhoria dos comentarios java doc
  src/main/java/com/shelson/application/controller/CurrencyConversionController.java
  src/main/java/com/shelson/application/service/CurrencyConversionService.java
Labels: bug

ajustes md, style
  src/main/java/com/shelson/application/service/CurrencyConversionService.java
Labels: bug

AUTO_COMMIT: Bulk update of documentation
  sys/pdf/SHELSON_FERRARI_CV_en.pdf
  sys/pdf/SHELSON_FERRARI_CV_es.pdf
  sys/pdf/SHELSON_FERRARI_CV_pt_br.pdf
Labels: none

AUTO_COMMIT: Update CHANGELOG.md
  CHANGELOG.md
Labels: none

AUTO_COMMIT: Update .env
  .env
Labels: none
